header {
  width: 100%;
  height: 170px;
  background-color: pink;
  background: url(../images/logo2.fw.png) no-repeat center;
}
header .login {
  float: right;
  height: 30px;
}
header .login .headpto {
  width: 25px;
  height: 25px;
  background-color: #FFFFFF;
}
header .login a {
  line-height: 30px;
}
header .tougao {
  float: right;
  width: 80px;
  height: 30px;
  background-color: red;
  text-align: center;
  line-height: 30px;
}
.bd {
  background-color: lightblue;
}
.bd .nav {
  height: 115px;
}
.bd .nav .nav1 {
  height: 100%;
  float: left;
  width: 300px;
}
.bd .nav .nav2 {
  height: 100%;
  float: left;
  width: 600px;
}
.bd .nav .nav3 {
  height: 100%;
  float: left;
  width: 300px;
}
.bd .banner {
  height: 242px;
  border-top: 1px solid #000;
}
.bd .banner .left {
  float: left;
  height: 242px;
  width: 550px;
  background: url(../images/banner1.webp) no-repeat;
  background-size: 550px 242px;
}
.bd .banner .right {
  float: left;
  height: 242px;
  width: 650px;
}
.bd .banner .right .box {
  float: left;
  width: 206px;
  height: 116px;
  margin-left: 10px;
  margin-bottom: 10px;
  background: url(../images/pic1.webp);
}
.bd .box1 {
  border-top: 1px solid #000;
  height: 320px;
}
.bd .box1 .left {
  float: left;
  width: 880px;
  height: 320px;
}
.bd .box1 .left .top {
  height: 120px;
  float: left;
  width: 880px;
  line-height: 36px;
}
.bd .box1 .left .top img {
  float: left;
  margin-top: 50px;
  width: 36px;
  height: 36px;
  background-color: red;
}
.bd .box1 .left .top strong {
  float: left;
  margin-top: 50px;
}
.bd .box1 .left .top a {
  margin-top: 50px;
  float: right;
  margin-right: 20px;
}
.bd .box1 .left .bd {
  height: 200px;
  float: left;
  width: 880px;
}
.bd .box1 .left .bd .box {
  float: left;
  height: 190px;
  width: 206px;
  margin-right: 12px;
}
.bd .box1 .left .bd .box img {
  width: 206px;
  height: 116px;
}
.bd .box1 .left .bd .box p {
  float: left;
  margin-top: 10px;
}
.bd .box1 .right {
  height: 320px;
  float: left;
  width: 320px;
}
.bd .box1 .right .top span {
  font-size: 28px;
}
.bd .box1 .right .top a {
  margin-left: 180px;
}
.bd .box1 .right li {
  margin-bottom: 10px;
}
.bd .adv {
  height: 140px;
  border: solid 1px #000;
}
.bd .box2 {
  height: 500px;
  border-bottom: 1px solid #000;
}
.bd .box2 .top {
  height: 120px;
  float: left;
  width: 100%;
}
.bd .box2 .left {
  height: 380px;
  float: left;
  width: 880px;
}
.bd .box2 .right {
  height: 380px;
  float: left;
  width: 320px;
}
.bd .box3 {
  height: 500px;
  border-bottom: 1px solid #000;
}
.bd .box3 .left {
  height: 100%;
  float: left;
  width: 880px;
}
.bd .box3 .left .top {
  height: 120px;
  float: left;
  width: 100%;
}
.bd .box3 .left .bd {
  height: 380px;
  float: left;
  width: 100%;
}
.bd .box3 .right {
  height: 100%;
  float: left;
  width: 320px;
}
footer {
  width: 100%;
  height: 300px;
  background-color: #f6f9fa;
}
